{% extends "base.html" %}

{% block content %}
<div class="col align-items-center">
	<h1 class="py-4">Hi, {{ current_user.username }}!</h1>
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
</div>
<div class="row justify-content-end mr-2 pt-4">
	{% if prev_url and posts %}
	<a href="{{ prev_url }}" class="btn border">Prev</a>
	{% else %}
	<a href="{{ prev_url }}" class="btn border disabled">Prev</a>
	{% endif %}
	
	{% if next_url and posts %}
	<a href="{{ next_url }}" class="btn border">Next</a>
	{% else %}
	<a href="{{ next_url }}" class="btn border disabled">Next</a>
	{% endif %}
</div>

{% endblock %}