{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
	<form action="" method="post" class="form border border-primary mt-5 col-sm-6 px-0" novalidate>
		<div class="d-flex justify-content-center align-items-center font-italic text-white mb-3" style="font-size: 20px; height: 60px;background: linear-gradient(to right, blue, purple)">
			Sign In
		</div>

		{{ form.hidden_tag() }}
		<div class="form-content">
			<div class="col">
				<div class="form-group">
					{{ form.username(size=32,type="text", class="form-control", placeholder="Username *") }}
					{% for error in form.username.errors %}
					<span style="color: red">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group">
					{{ form.password(size=32,type="password", class="form-control", placeholder="Password *") }}
					{% for error in form.password.errors %}
					<span style="color: red">[{{ error }}]</span>
					{% endfor %}
				</div>
				<div class="form-group">
					{{ form.remember_me() }} {{ form.remember_me.label }}
				</div>
				<div class="form-group d-md-flex  justify-content-center align-items-center">
					{{ form.submit(class="btn btn-outline-primary") }}
					<p class="m-0 pl-md-5 py-2">New User?<a href="{{ url_for('users.register') }}">Click to Register</a></p>
				</div>
				<div class="pb-2">
					<a href="{{ url_for('users.reset_request') }}">Forgot Password</a>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock %}